{% extends 'layout.html.twig' %}
{% import 'macros.twig' as macros %}

{% block content %}
    <script>
    var graph = function(classname, method, padding) {
        var g = new dagreD3.graphlib.Graph({ multigraph: true })
                .setGraph({})
                .setDefaultEdgeLabel(function() { return {}; });

        padding = padding || 40;

        g.addBranch = function(branch) {
            var opLabel = 'OP #' + branch.op_start,
                lineLabel = 'Line #' + branch.line_start;

            if (branch.op_start != branch.op_end) {
                opLabel = opLabel + ' - #' + branch.op_end;
            }

            if (branch.line_start != branch.line_end) {
                lineLabel = lineLabel + ' - #' + branch.line_end;
            }

            g.setNode(
                    branch.op_start,
                    {
                        label: opLabel + '\n \n' + lineLabel,
                        class: branch.hit ? 'covered' : 'uncovered'
                    }
            );

            return g;
        };

        var edges = 0;
        g.addEdge = function(begin, end, hit, label) {
            var options = {
                class: hit ? 'covered' : 'uncovered',
                lineInterpolate: 'basis',
                label: label,
                labelStyle: 'color: #' + (hit ? '8eff9b' : 'ff8c76'),
                width: padding / 2
            };

            g.setEdge(begin, end, options, 'edge-' + edges++);

            return g;
        };

        g.roundNodes = function() {
            g.nodes().forEach(function(v) {
                var node = g.node(v);

                node.rx = node.ry = 5;
            });

            return g;
        };

        g.render = function() {
            var render = new dagreD3.render(),
                    svg = d3.select('#' + method + ' svg'),
                    group = svg.append("g");

            render(d3.select('#' + method + ' svg g'), g);

            group.attr("transform", 'translate(' + padding + ', ' + padding + ')');
            svg.attr("height", g.graph().height + (padding * 2));
            svg.attr("width", g.graph().width + (padding * 2));
        };

        return g;
    };
    </script>

    <div class="row">
        <h1 class="pull-left">{{ class }}: branches coverage</h1>
        <h2 class="pull-right"><span class="text-{{ macros.color(data.coverage.branches) }}">{{ data.coverage.branches|round(2) * 100 }}%</span></h2
    </div>

    {% include 'methods.html.twig' %}

    {% for methodname, methoddata in data.methods %}
        <div class="panel panel-{{ macros.color(methoddata.coverage.branches) }}" id="{{ methodname }}">
            <div class="panel-heading">
                {{ class }}::{{ methodname }}()
                {{ macros.labelify(methoddata.coverage.branches) }}
                {{ macros.navigation(class, methodname, methoddata.coverage, 'branches') }}
            </div>
            <div class="panel-body">
                <div class="graph"><svg></svg></div>
            </div>
        </div>

        <script>
            graph('{{ class|replace({'\\': '\\\\'}) }}', '{{ methodname }}')
                {% for branch in methoddata.branches %}
                    .addBranch({% autoescape false %}{{ branch|json_encode }}{% endautoescape %})
                {% endfor %}
                .roundNodes()
                {% for branch in methoddata.branches %}
                    {% for outindex, out in branch.out %}
                        {% if out != 2147483645 %}
                            .addEdge({{ branch.op_start }}, {{ out }}, {{ branch.out_hit[outindex] }})
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                .render()
            ;
        </script>
    {% endfor %}
{% endblock %}
