{% extends 'layout.html.twig' %}
{% import 'macros.twig' as macros %}

{% block  content %}
    <div class="row">
        <h1 class="pull-left">{{ class }}: lines coverage</h1>
        <h2 class="pull-right"><span class="text-{{ macros.color(data.coverage.lines) }}">{{ data.coverage.lines|round(2) * 100 }}%</span></h2>

        {% include 'methods.html.twig' %}

        <table class="table table-bordered table-stripped">
            <thead>
            <tr>
                <th>#</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% for number, line in data.lines %}
                <tr class="line" {% if line.method is defined %}id="{{ line.method }}"{% endif %}>
                    <th id="L{{ number + 1 }}" class="number {{ line.hit >= 1 ? 'covered' : line.hit == -1 ? 'uncovered' : '' }}">{{ number + 1}}</th>

                    <td class="{{ line.hit >= 1 ? 'covered' : line.hit == -1 ? 'uncovered' : '' }}" {% if line.method %}id="{{ line.method }}"{% endif %}>
                        <pre>{{ line.code|rtrim }}{% spaceless %}
                            {% if line.method is defined %}
                                {{ macros.labelify(data.methods[line.method].coverage.lines) }}
                                {{ macros.navigation(class, line.method, data.methods[line.method].coverage, 'line') }}
                            {% endif %}
                        {% endspaceless %}</pre>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
